.idea
*.pyc
*.swp
*.map
rsync.sh
*local_settings.py
.python-version

*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.vscode
Icon?
ehthumbs.db
Thumbs.db

uwsgi.log
node_modules/
npm-debug.log
images/sprite-parts/