.angle {
    position: relative;
    z-index: 1;

    &:before {
        content: "";
        border: 0 solid transparent;
        position: absolute;
        right: 0;
        left: 0;
    }

    &_top_right {
        margin-top: 4vw;

        &:before {
            bottom: 100%;
            border-top-width: 4vw;
            border-left-width: 100vw;
            border-left-color: $color-accent;
        }
    }

    &_top_left {
        margin-top: 4vw;

        &:before {
            bottom: 100%;
            border-top-width: 4vw;
            border-right-width: 100vw;
            border-right-color: $color-accent;
        }

    }

    &_bottom_right {
        margin-bottom: 4vw;

        &:before {
            top: 100%;
            border-bottom-width: 4vw;
            border-left-width: 100vw;
            border-left-color: $color-accent;
        }
    }

    &_bottom_left {
        margin-bottom: 4vw;

        &:before {
            top: 100%;
            border-bottom-width: 4vw;
            border-right-width: 100vw;
            border-right-color: $color-accent;
        }
    }

    &_no_indent {
        margin-top: 0;
        margin-bottom: 0;
        border-top: none;
        border-bottom: none;
        z-index: 2;
    }

    &_offset_scroll {
        &.angle_top_right,
        &.angle_bottom_right {
            &:before {
                border-left-width: calc(100vw - 20px);
            }
        }

        &.angle_top_left,
        &.angle_bottom_left {
            &:before {
                border-right-width: calc(100vw - 20px);
            }
        }
    }

    &_bg_white {
        &.angle_top_right,
        &.angle_bottom_right {
            &:before {
                border-left-color: #ffffff;
            }
        }

        &.angle_top_left,
        &.angle_bottom_left {
            &:before {
                border-right-color: #ffffff;
            }
        }
    }

    &_bg_black {
        &.angle_top_right,
        &.angle_bottom_right {
            &:before {
                border-left-color: #000000;
            }
        }

        &.angle_top_left,
        &.angle_bottom_left {
            &:before {
                border-right-color: #000000;
            }
        }
    }
}