.app-form {
    &__title {
        @include font-size(72px);
        line-height: 1;
        margin-bottom: rem(45px);
    }

    &__desc {
        @include font-size(14px);
        line-height: 1.6;
    }

    &__offline-toggle {
        height: rem(45px);
        line-height: rem(45px);
        color: $color-accent;
        padding: 0 rem(75px);
    }
}

@media (min-width: $screen-lg-min) {
    .app-form {
        &__leveler,
        .form-status__inner {
            display: flex;
            align-items: center;
            height: calc(100vh - (225px + 8vw));
            transform: translate(0);

            [data-ss-show] {
                position: fixed;
            }
        }
    }
}

@media (max-width: $screen-lg-max) {
    .app-form {
        &__leveler {
            transform: none !important;
            margin-bottom: rem(50px);
        }
    }
}

@media (max-width: $screen-sm-max) {
    .app-form {
        &__title {
            @include font-size(40px);
        }
    }
}