.app-form-off {
    &__section:not(:last-child) {
        margin-bottom: rem(50px);
    }

    h2,
    h3 {
        margin-bottom: rem(15px);
    }

    p {
        @include font-size(14px);
        line-height: 1.6;
    }

    ol {
        li {
            margin-bottom: rem(20px);
        }
    }
}