.breadcrumbs {
    font-family: $font-family-lead;
    @include font-size(14px);
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    max-width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
        text-decoration: underline;

        &:hover {
            color: $color-base;
            text-decoration: none;
        }
    }
}

@media (max-width: $screen-md-max) {
    .breadcrumbs {
        top: 0;
    }
}