.button {
    display: block;
    position: relative;
    color: #fff;
    background: transparent;
    line-height: rem(38px);
    @include font-size(15px);
    font-family: $font-family-lead;
    letter-spacing: 0.16px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    height: rem(38px);
    border-radius: 0;
    border: 0;
    outline: none;
    padding: 0 rem(20px);
    margin: 0;
    cursor: pointer;
    vertical-align: top;
    user-select: none;
    transition: all $transition-time;
    backface-visibility: hidden;
    z-index: 1;

    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        background: $color-base;
        z-index: -1;
        transition: $transition-time;
        backface-visibility: hidden;
    }

    &:before {
        left: 1px;
        right: 41%;
        clip-path: polygon(0 100%, 0 0, 100% 0%, 72% 100%);
    }

    &:after {
        right: 0;
        left: 41%;
        clip-path: polygon(0 100%, 28% 0, 100% 0%, 100% 100%);
    }

    &:hover {
        &:before {
            transform: translate(-2%, 6%);
        }

        &:after {
            transform: translate(2%, -6%);
        }
    }

    &_state_disabled,
    &[disabled] {
        background: #e6e3e3;
        color: #999999;
        cursor: default;
        pointer-events: none;
    }

    &_size_lg {
        height: rem(45px);
        line-height: rem(45px);
        padding: 0 rem(75px);
    }

    &_size_xl {
        height: rem(53px);
        @include font-size(20px);
        line-height: rem(53px);
        padding: 0 rem(50px);
    }

    &_min_width {
        min-width: rem(160px);
    }

    &_color_accent {
        color: $color-accent;
    }

    &_width_fluid {
        width: 100%;
    }

    &_margin_auto {
        margin-left: auto;
        margin-right: auto;
    }
}