.container {
    margin: auto;
    padding: 0 rem(15px);

    @include clearfix();
}

@media (min-width: $screen-sm-min) {
    .container {
        width: 738px;
    }
}

@media (min-width: $screen-md-min) {
    .container {
        width: 960px;
    }
}

@media (min-width: $screen-lg-min) {
    .container {
        width: 1210px;
    }
}