.docs-list {
    display: flex;
    align-items: flex-start;
    margin: 0;

    &__item {
        margin: 0 rem(50px) 0 0;

        a {
            @include font-size(12px);
            line-height: 1.6;
            display: block;

            [class*="icon"] {
                display: block;
                margin: 0 auto rem(10px);
                width: rem(43px);
                height: rem(56px);
                transition: background $transition-time;
            }

            .icon-doc {
                background: url("./images/sprite.svg#doc") no-repeat center / contain;
            }

            .icon-pdf {
                background: url("./images/sprite.svg#pdf") no-repeat center / contain;
            }

            .icon-xls {
                background: url("./images/sprite.svg#xls") no-repeat center / contain;
            }

            &:hover {
                .icon-doc {
                    background-image: url("./images/sprite.svg#doc--active");
                }

                .icon-pdf {
                    background-image: url("./images/sprite.svg#pdf--active");
                }

                .icon-xls {
                    background-image: url("./images/sprite.svg#xls--active");
                }
            }
        }

        @include clearfix();
    }
}