.form,
.wpcf7-form {
    fieldset {
        padding: 0;
        border: none;
        margin: 0 0 rem(50px);

        legend {
            @include font-size(22px);
            font-family: $font-family-lead;
            text-transform: uppercase;
            margin-bottom: rem(30px);
        }
    }

    &__group {
        position: relative;
        margin-bottom: rem(35px);
        width: 100%;

        br {
            display: none;
        }

        .wpcf7-form-control-wrap {
            display: block;
        }

        label {
            max-width: 90%;
            position: absolute;
            left: rem(18px);
            top: rem(15px);
            @include font-size(18px);
            line-height: 1;
            font-family: $font-family-lead;
            text-transform: uppercase;
            padding: 0 2px;
            transition: all $transition-time;
            will-change: top, transform;
            z-index: 1;
        }

        input:not([type="checkbox"]):not([type="radio"]),
        textarea {
            border: 1px solid transparent;
            outline: none;
            width: 100%;
            height: rem(48px);
            display: block;
            padding: 0 rem(20px);
            background: #e9b011;
            @include font-size(14px);
            line-height: 1.6;

            &.wpcf7-not-valid,
            &.error {
                border-color: red;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active  {
                -webkit-animation-name: autofill;
                -webkit-animation-fill-mode: both;
            }
        }

        textarea {
            padding: rem(14px) rem(20px);
            height: auto;
            min-height: rem(140px);
            resize: vertical;
        }

        .amount-allowed {
            @include font-size(18px);
            line-height: 1;
            font-family: $font-family-lead;
            text-transform: uppercase;
            color: #000000;
            opacity: 0.1;
            position: absolute;
            right: rem(20px);
            bottom: rem(15px);
            transition: all $transition-time;
        }

        &.transform-label {
            label {
                top: 0;
                transform: translateY(-50%);
            }

            .amount-allowed {
                opacity: 0;
                visibility: hidden;
            }
        }

        &_indent_sm {
            margin-bottom: rem(25px);
        }

        &_indent_no {
            margin-bottom: 0;
        }
    }

    &__radio-group {
        position: relative;
        margin-bottom: rem(15px);
        width: 100%;

        &__label {
            @include font-size(18px);
            line-height: 1;
            font-family: $font-family-lead;
            text-transform: uppercase;
            margin: 0 0 rem(15px) rem(18px);
        }

        .wpcf7-form-control {
            display: flex;
            flex-wrap: wrap;
            margin-right: rem(-10px);
            margin-left: rem(-10px);
        }

        .wpcf7-list-item {
            flex: 0 0 50%;
            max-width: 50%;
            padding-left: rem(10px);
            padding-right: rem(10px);
            margin: 0 0 rem(20px);
            width: 100%;
            min-height: 1px;
            position: relative;
        }

        label {
            position: relative;
            display: block;
        }

        input[type="radio"] {
            border: none;
            outline: none;
            width: 100%;
            height: rem(48px);
            display: block;
            visibility: hidden;

            & + span {
                position: absolute;
                background: #e9b011;
                border: 1px solid transparent;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                @include font-size(16px);
                line-height: 1.2;
                font-family: $font-family-base;
                text-transform: none;
                padding-left: rem(50px);
                cursor: pointer;
                transition: all $transition-time;

                &:before {
                    content: "";
                    position: absolute;
                    left: rem(20px);
                    top: rem(16px);
                    width: rem(16px);
                    height: rem(16px);
                    border: 1px solid #000000;
                    border-radius: 50%;
                }

                &:hover {
                    border-color: #000000;
                }
            }

            &:checked + span {
                &:before {
                    background: url("./images/sprite.svg#check") no-repeat center / 8px #000000;
                }
            }
        }
    }

    span.error {
        position: absolute;
        top: 100%;
        left: 0;
        @include font-size(11px);
        line-height: 1.6;
        font-family: $font-family-lead;
        text-transform: uppercase;
        color: red;
        white-space: nowrap;
    }

    .wpcf7-not-valid-tip,
    .wpcf7-response-output {
        display: none !important;
    }

    .wpcf7-mail-sent-ok,
    .wpcf7-validation-errors {
        border-color: #000000;
    }
}