select.language-select {
    display: none;
}

.language-select {
    border: none;
    background: none;
    padding: 0 rem(34px) 0 0;
    height: auto;
    line-height: 1;
    transition: none !important;

    .current {
        font-family: $font-family-lead;
        @include font-size(18px);
        line-height: 1.5;
        color: #FFFFFF;
        text-transform: uppercase;
        transition: color $transition-time;
    }

    .list {
        border: none;
        outline: none;
        box-shadow: none;
        background: none;
        margin: 0;
        width: 100%;
        overflow: visible;
        transition: none;

        .option {
            font-family: $font-family-lead;
            @include font-size(18px);
            line-height: 1.5;
            color: #FFFFFF;
            text-transform: uppercase;
            padding: 0;
            min-height: 0;
            position: relative;

            &:after {
                content: "";
                width: rem(10px);
                height: rem(10px);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background: url("./images/sprite.svg#arrow-right") no-repeat center / contain;
                opacity: 0;
                transform: translateX(rem(5px));
                transition: all .4s ease;
            }

            &.selected {
                display: none;
            }

            &.focus {
                background: none;
            }

            &:hover {
                background: none;
                transform: translateX(rem(-5px));

                &:after {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }

    &:after {
        width: 22px;
        height: 22px;
        background: url("./images/globus.svg") no-repeat center;
        transform: translateY(-50%) !important;
        margin: 0;
        right: 0;
        border: none;
        transition: background $transition-time;
    }

    &:hover {
        .current {
            color: #000000;
        }

        &:after {
            background-image: url("./images/globus--black.svg");
        }
    }

    &.open {
        .current {
            color: #000000;
        }

        .list {
            transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        }

        &:after {
            background-image: url("./images/globus--black.svg");
        }
    }
}