.load-more {
  padding: 1px;

  .button {
    color: #000000;
    height: rem(36px);
    margin: rem(40px) auto;
    line-height: rem(36px);
    @include font-size(14px);

    &:before,
    &:after {
      background: $color-accent;
    }
  }
}