.post {
    &__inner-box {
        width: 920px;
        margin: auto;
        max-width: 100%;
    }

    &__header {
        .container {
            position: relative;
        }

        .post__inner-box {
            border-top: 4px solid #000000;
            position: absolute;
            bottom: 0;
            max-width: calc(100% - 30px);
            left: 0;
            right: 0;
        }
    }

    &__thumbnail {
        height: rem(650px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__title {
        background: #FFFFFF;
        padding: rem(50px) rem(75px);
        text-align: center;
        @include font-size(40px);
    }

    &__content {
        margin-top: rem(50px);
    }

    &__share,
    &__response {
        margin: rem(50px) 0;
    }

    .navigation {
        margin: rem(50px) 0;
    }
}

@media (max-width: $screen-sm-max) {
    .post {
        &__title {
            padding: rem(20px) rem(15px);
        }
    }
}