.scroll {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    height: 100%;

    .scroll-content {
        height: 100%;
        width: 100%;
    }

    .scrollbar-track {
        background: transparent;
    }

    .scrollbar-thumb {
        background: transparent;
    }

    .scrollbar-thumb-y {
        &:after {
            content: "In search of disruptive";
            font-size: 98%;
            line-height: 1.2;
            font-family: $font-family-lead;
            text-transform: uppercase;
            white-space: nowrap;
            color: #ffffff;
            text-shadow: 0 0 4px $color-accent;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            right: 50%;
            margin-top: -10px;
            transform: rotate(-90DEG);
        }
    }
}