.scroll-to-top {
    position: fixed;
    bottom: rem(30px);
    right: rem(30px);
    width: rem(46px);
    height: rem(46px);
    color: #ffffff;
    transition: opacity .2s ease-in, visibility .2s ease-in;
    opacity: 0;
    visibility: hidden;
    z-index: 100;

    .icon-arrow-up {
        width: rem(15px);
        height: rem(10px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDMwNy4wNTQgMzA3LjA1NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzA3LjA1NCAzMDcuMDU0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgY2xhc3M9IiI+PGc+PGc+Cgk8ZyBpZD0iX3gzNF84NS5fVXAiPgoJCTxnPgoJCQk8cGF0aCBkPSJNMzAyLjQ0NSwyMDUuNzg4TDE2NC42Myw2Ny45NTljLTYuMTM2LTYuMTMtMTYuMDc0LTYuMTMtMjIuMjAzLDBMNC41OTcsMjA1Ljc4OGMtNi4xMjksNi4xMzItNi4xMjksMTYuMDY5LDAsMjIuMjAxICAgICBsMTEuMTAxLDExLjEwMWM2LjEyOSw2LjEzNiwxNi4wNzYsNi4xMzYsMjIuMjA5LDBsMTE1LjYyLTExNS42MjZMMjY5LjE1MSwyMzkuMDljNi4xMjgsNi4xMzYsMTYuMDcsNi4xMzYsMjIuMjAxLDAgICAgIGwxMS4xMDEtMTEuMTAxQzMwOC41ODksMjIxLjg1LDMwOC41ODksMjExLjkyLDMwMi40NDUsMjA1Ljc4OHoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0ZGRkZGRiIgZGF0YS1vbGRfY29sb3I9IiNmZmZmZmYiPjwvcGF0aD4KCQk8L2c+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==") no-repeat center / contain;
    }

    &_is_visible {
        opacity: 1;
        visibility: visible;
    }
}