.section-focus-area {
    padding: rem(150px) 0 rem(50px);
    background: $color-accent;

    &__inner {
        overflow-x: hidden;
    }

    &__title {
        margin-bottom: rem(50px);
    }
}

@media (max-width: $screen-md-max) {
    .section-focus-area {
        padding: rem(100px) 0 rem(50px);
    }
}

@media (max-width: $screen-sm-max) {
    .section-focus-area {
        padding: rem(75px) 0 rem(50px);
    }
}