.section-interview {
    padding: rem(150px) 0;
    z-index: 3;

    &__title {
        margin-bottom: rem(125px);
    }
}

@media (max-width: $screen-md-max) {
    .section-interview {
        padding: rem(100px) 0;

        &__title {
            margin-bottom: rem(75px);
        }
    }
}

@media (max-width: $screen-sm-max) {
    .section-interview {
        padding: rem(75px) 0;

        &__title {
            margin-bottom: rem(50px);
        }
    }
}