.section-worksteps {
    padding: rem(150px) 0;

    &__title {
        margin-bottom: rem(100px);
    }
}

@media (max-width: $screen-md-max) {
    .section-worksteps {
        padding: rem(100px) 0;

        &__title {
            margin-bottom: rem(75px);
        }
    }
}

@media (max-width: $screen-sm-max) {
    .section-worksteps {
        padding: rem(75px) 0;

        &__title {
            margin-bottom: rem(50px);
        }
    }
}