.site-preloader {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    background: #ffffff;

    &__bar {
        height: 6px;
        width: 0;
        background: $color-accent;
        transition: width .3s ease-in;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}