.site-header {
    padding: rem(50px) 0 rem(75px);
    background: $color-accent;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    z-index: $header-index;

    &__top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__bottom-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .site-nav {
        &__list {
            margin: 0 0 0 rem(55px);
        }
    }

    .language-select {
        margin-top: rem(26px);
    }
}

@media (max-width: $screen-md-max) {
    .site-header {
        padding: rem(35px) 0 rem(70px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    }
}