.site-footer {
    padding: rem(110px) 0 rem(20px);
    background: $color-accent;
    flex-shrink: 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: $screen-md-max) {
    .site-footer {
        padding: rem(80px) 0 rem(20px);
    }
}

@media (max-width: $screen-sm-max) {
    .site-footer {
        &__inner {
            flex-direction: column;
        }
    }
}