.site-footer {
    padding: rem(140px) 0 rem(20px);
    background: $color-accent;
    flex-shrink: 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}