.site-header {
    padding: rem(45px) 0 0;
    background: $color-accent;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    z-index: $header-index;
    position: relative;

    &__top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__bottom-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .site-nav {
        &__list {
            margin: 0 0 0 rem(55px);
        }
    }

    .language-select {
        margin-top: rem(16px);
    }

    &:after {
        content: "";
        border: 0 solid transparent;
        position: absolute;
        right: 0;
        left: 0;
        top: 100%;
        border-bottom-width: 4vw;
        border-right-width: 100vw;
        border-right-color: $color-accent;
    }
}

@media (max-width: $screen-sm-max) {
    .site-header {
        &__bottom-row {
            opacity: 0;
            visibility: hidden;
        }
    }
}