.site-footer {
    padding: rem(20px) 0;
    background: $color-accent;
    flex-shrink: 0;
    position: relative;
    z-index: $footer-index;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: $screen-sm-max) {
    .site-footer {
        &__inner {
            flex-direction: column;
        }
    }
}