.site-header {
    padding: rem(55px) 0 rem(135px);
    background: $color-accent;
    z-index: $header-index;

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__utils {
        position: relative;

        .language-select {
            position: absolute;
            top: rem(68px);
            right: 0;
        }
    }
}

@media (max-width: $screen-md-max) {
    .site-header {
        padding: rem(55px) 0 rem(110px);
    }
}