$index: 100;

.slashed {
    height: #{$index + 30}px;
    position: relative;
    transform: rotate(-3deg);

    &__top,
    &__bottom {
        font-family: $font-family-lead;
        line-height: 1;
        font-size: #{$index}px;
        letter-spacing: -1px;
        color: $color-base;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;

        &:before {
            content: attr(title);
            transform: rotate(3deg);
        }
    }

    &__top {
        position: absolute;
        top: 0;
        left: rem(-7px);
        right: 0;
        bottom: 50%;

        &:before {
            position: absolute;
            bottom: -#{$index/2}px;
            left: 0;
            right: 0;
        }
    }

    &__bottom {
        position: absolute;
        top: 50%;
        left: 0;
        right: rem(-7px);
        bottom: 0;

        &:before {
            position: absolute;
            top: -#{$index/2}px;
            left: 0;
            right: 0;
        }
    }
}

@media (max-width: $screen-md-max) {
    $index: 80;

    .slashed {
        height: #{$index + 20}px;

        &__top,
        &__bottom {
            font-size: #{$index}px;
        }

        &__top {
            &:before {
                bottom: -#{$index/2}px;
            }
        }

        &__bottom {
            &:before {
                top: -#{$index/2}px;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    $index: 39;

    .slashed {
        height: #{$index + 10}px;

        &__top,
        &__bottom {
            font-size: #{$index}px;
        }

        &__top {
            &:before {
                bottom: -#{$index/2}px;
            }
        }

        &__bottom {
            &:before {
                top: -#{$index/2}px;
            }
        }
    }
}