.upload-file {
    margin-bottom: rem(35px);
    outline: 2px dashed #000000;
    outline-offset: -2px;
    padding: rem(15px) rem(25px) rem(25px);
    background: #e9b011;
    transition: all $transition-time;
    will-change: outline-offset, background-color;
    position: relative;

    input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        & + span.error {
            display: none !important;
        }
    }

    .docs-list {
        justify-content: center;
        margin: rem(25px) 0;

        &__item {
            [class*="icon-"] {
                transform: rotate(45deg);
            }
        }
    }

    &__lead {
        display: block;
        @include font-size(18px);
        line-height: 1.25;
        font-family: $font-family-lead;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: rem(4px);

        b {
            color: #ffffff;
            text-decoration: underline;
            transition: color $transition-time;
        }

        &:hover {
            cursor: pointer;

            b {
                text-decoration: none;
            }
        }
    }

    &__allowed-type-msg {
        display: block;
        @include font-size(14px);
        letter-spacing: -0.04em;
        opacity: 0.2;
        text-align: center;
    }

    &.is-dragover {
        background: #ffffff;
        outline-offset: -10px;

        .upload-file__lead {
            b {
                color: #000000;
                text-decoration: none;
            }
        }
    }

    &.error {
        outline-color: red;
    }

    &_indent_sm {
        margin-bottom: rem(25px);
    }

    &_indent_no {
        margin-bottom: 0;
    }
}