.widget_categories {
    margin-bottom: rem(50px);

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            width: 100%;
        }
    }

    & > ul {
        & > li {
            font: 0px/0 a;
            position: relative;
            margin: 0;

            & > a {
                @include font-size(16px);
                line-height: 2.6875;
                text-transform: uppercase;
                font-family: $font-family-lead;
                display: block;
                padding: 0 rem(20px);
                transition: $transition-time;
            }

            ul {
                &:before {
                    content: "";
                    width: rem(15px);
                    height: rem(10px);
                    top: rem(16px);
                    right: rem(20px);
                    position: absolute;
                    background: url("./images/arrow-up.svg") no-repeat center / contain;
                }

                align-items: center;
                justify-content: space-between;
                display: none;
                margin: rem(10px) 0;
                padding-right: rem(20px);

                li {
                    @include font-size(12px);
                    line-height: 1.5;
                    text-transform: uppercase;
                    font-family: $font-family-lead;
                    color: rgba(0, 0, 0, 0.5);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    a {
                        color: #000000;
                        padding: rem(5px) rem(20px);
                        display: flex;
                        flex: 1;
                    }

                    &:hover,
                    &.current-cat {
                        &,
                        & > a {
                            color: $color-accent;
                        }
                    }

                    &.current-cat {
                        & > a {
                            cursor: default;
                        }
                    }
                }
            }

            &:hover {
                & > a {
                    background: $color-accent;
                }
            }

            @include clearfix();

            &.current-cat,
            &.current-cat-parent {
                & > a {
                    color: #ffffff;
                    background: $color-accent;
                    cursor: default;
                }

                & > ul {
                    display: block;
                }
            }
        }
    }
}